PORT=9091
HOST=0.0.0.0
NODE_ENV=local
JWT_SECRET_KEY=replace_me
JWT_REFRESH_TOKEN_SECRET=replace_me
JWT_EXPIRES=1d
JWT_REFRESH_EXPIRES=7d
OTP_TTL_MINUTES=10
BCRYPT_SALT_ROUNDS=10

# Set true when you want app.js to connect/authenticate DB on startup
DB_SYNC=true
DB_DIALECT=mysql
DB_HOST=127.0.0.1
DB_PORT=3306
DB_DATABASE=delivery_api
DB_USER=root
DB_PASSWORD=root
